* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title {
  margin-top: 50px;
  margin-bottom: 200px;
}
.progress-container {
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 100px;
}
.action-btn {
  background-color: #fff;
  border: 2px solid #03d6d6;
  border-radius: 25px;
  color: #00ffff;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 30px;
  margin: 0 20px;
}
.action-btn.action-btn-big {
  color: #00ffff;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.ddd {
  color: rgba(202, 201, 201, 0.9);
}
